@tailwind base;
@tailwind components;
@tailwind utilities;


html,body{
   
    background-image: linear-gradient(#d5d5d5,#40434c,#376e99,#623a92,#a8a9ac);
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
   font-weight: 500;
    font-style: normal;
}